.App {
  text-align: center;
}

nav ul {
  list-style: none;
}

nav ul li {
  display: inline-block;
  padding: 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #0C1920;
}
.header {
    background-color: #012741;
    color: #fff;
    padding: 10px 20px;
    text-align: right;
}
.header a {
    color: #fff;
    text-decoration: none;
    padding: 8px 15px;
    background-color: #0e6e0e;
    border-radius: 10px;
    margin: 5px;
}
.title {
    text-align: center;
    margin: 20px 0;
}
.logo {
    display: block;
    margin: 0 auto;
    width: 220px; /* ajuste conforme necessário */
}
/* Torna o texto branco */
h2, h3, h4, h5, h6, p, label {
    color: #fff;
}

h1 {
    color: #12B7D8;
}

/* Butões de confirmação (com id de "buttonYes") */
.buttonYes {
    background-color: #0e6e0e;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Butões de negação (com id de "buttonNo") */
.buttonNo {
    background-color: #7b1113;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

/* Butões (com id de "buttonBlue") */
.buttonBlue {
    background-color: #12B7D8;
    color: #000000;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    width: 110px;
    font-weight: bold;
    font-size: medium;
}

/* Espaçamento para as tabelas */
.tdSpace {
    margin: 10px;
}

/* Cartão branco */
.whiteCard {
  background-color: #ffffff;
  color: #000000;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
}

.cardTitle {
  font-size: 10px;
  font-weight: bold;
}

/* pequenas bordas redondas */
.roundedS {
  border-radius: 5px;
}

/* bordas redondas */
.roundedM {
  border-radius: 10px;
}

/* bordas redondas grandes */
.roundedL {
  border-radius: 20px;
}

/* Id da planta grande */
#plantId {
  font-size: 100px;
  color: #0e6e0e
}
